body {
    background-color: antiquewhite;
    font-size: 50px;
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
    /* flex-direction: column-reverse;
    flex-direction: row-reverse; */

}
div {
    border: 5px solid rgb(223, 115, 187);
border-radius: 5px;
background-color: rgb(208, 168, 245);
}