body {
    /* background-image: linear-gradient(to right, rgb(28, 118, 146) , rgb(62, 186, 220)); */
    background-color: #556832;
}
.photo {
    width:600px ; 
    left: 200px ; 
    /* padding: 300px; */
    margin-left: 450px;
    margin-top: 240px;
    
   
}
.name {
  font-size: 35px;
  color: white;
  margin-left: 585px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gamebutton:link, .gamebutton:visited {
    width:300px ; 
    height: 130px;
    background-color: #404040;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px;
    left: 1400px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


  .gitbutton:link, .gitbutton:visited{
    width:300px ; 
    height: 130px;
    background-color: #404040;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 500px;
    left: 1400px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .pollbutton:link, .pollbutton:visited{
    width:300px ; 
    height: 130px;
    background-color: #404040;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 750px;
    left: 1400px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }





  

/* font-family: verdana;
  font-size: 20px;
  border: 15px solid green; 
   padding: 50px;
  margin: 20px;
  
   border: 2px solid black;
  outline-style: solid;
  outline-color: red;
  background: yellow;*/